<script id="js-template-egf-pagination" type="text/template">
    <nav class="egf-pagination">
        <div class="egf-pagination-block egf-pagination-block-left">
            <a class="<% this.uniqueIdentifier %>-egf-pagination-button-to-first" href="#">
                <span class=""></span>
                <span class="">
                    <<
                </span>
            </a>
            <a class="<% this.uniqueIdentifier %>-egf-pagination-button-to-previous" href="#">
                <span class=""></span>
                <span class="">
                    <
                </span>
            </a>
        </div>
        <div class="egf-pagination-block egf-pagination-block-middle">
            <% this.currentPage %> / <% this.maxPage %>
        </div>
        <div class="egf-pagination-block egf-pagination-block-right">
            <a class="<% this.uniqueIdentifier %>-egf-pagination-button-to-next" href="#">
                <span class="">
                    >
                </span>
                <span class=""></span>
            </a>
            <a class="<% this.uniqueIdentifier %>-egf-pagination-button-to-last" href="#">
                <span class="">
                    >>
                </span>
                <span class=""></span>
            </a>
        </div>
    </nav>
</script>